<div class="h-tot">
  <div class="container">
    <div class="row w-100 justify-content-center d-flex align-items-center" style="flex-direction: column;">
        <div class="avatar mt-5 p-0">
          <img src="../assets/bayc24.jpg" alt="perfil-imagen" >
        </div>
        <div class="justify-content-center d-flex mt-2 mb-3 p-0" style="width: 38%">
          <h1 class="escribir2">Sebastián Amin Fariña <span>&#160;</span></h1>
        </div>

      <div class="row col-8 align-items-center my-3">
        <div class="col text-center"><p class="m-0 p-0">Fullstack Developer</p> <span class="badge bg-danger ">Future</span></div>
        <div class="col text-center"><p class="m-0 p-0">Systems Engineer</p> <span class="badge bg-danger">Future</span></div>
        <div class="col text-center"><p class="m-0 p-0">Professional Soccer Player</p><span class="badge bg-danger">Future</span></div>
      </div>
      <div class="border-top border-1 border-secondary w-50 p-0"></div>
      <div class="row">
        <div class="justify-content-center d-flex listadoIconos my-4">
          <a href="https://github.com/amin-farina" target="_blank" ><i class="bi bgitlab icon"></i></a>
          <a href="https://github.com/amin-farina" target="_blank"><i class="bi bi-github icon"></i></a>
          <a href="https://www.linkedin.com/in/sebasti%C3%A1n-amin-fari%C3%B1a-aab0ba1b3/" target="_blank" ><i class="bi bi-linkedin icon"></i></a>
          <a href="https://twitter.com/aminsebastianok" target="_blank" ><i class="bi bi-twitter icon"></i></a>
          <a href="mailto:aminsfarina@gmail.com" target="_blank" ><i class="bi bi-envelope-fill icon"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
