<div class="h-tot justify-content-center align-items-center d-flex">
  <div class="login-box">
    <h2>Login</h2>
    <form (ngSubmit)="userLogin()">
      <div class="user-box">
        <input type="text" [(ngModel)]="user.userId"  name="userId" id="userId" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" [(ngModel)]="user.password" name="password" id="password" required="" >
        <label>Password</label>
      </div>

      <button type="submit" class="justify-content-center d-flex">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
  </div>
</div>
