<div class="h-tot justify-content-center align-items-center d-flex">
  <div class="login-box">
    <h2>Login</h2>
    <form (ngSubmit)="userLogin($event)" [formGroup]="form">
      <div class="user-box">
        <input type="text" [(ngModel)]="user.userId" formControlName="user" name="userId" id="userId" required=""
        [ngClass]="{'is-invalid': User?.errors && User?.touched, 'is-valid': !User?.errors && User?.touched}"
        >
        <label>Username</label>
        <div *ngIf="User?.errors && User?.touched">
          <p *ngIf="User?.hasError('required')" class="text-danger">El usuario es requerido</p>
        </div>
      </div>
      <div class="user-box">
        <input type="password" [(ngModel)]="user.password" formControlName="password" name="password" id="password" required=""
        [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
        >
        <label>Password</label>
        <div *ngIf="Password?.errors && Password?.touched">
          <p *ngIf="Password?.hasError('required')" class="text-danger">La contraseña es requerido</p>
          <p *ngIf="Password?.hasError('minLength')" class="text-danger">El minimo de caracteres es <b>8</b> </p>
        </div>
      </div>

      <button type="submit" class="justify-content-center d-flex">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
  </div>
</div>
